{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
					<table class="table user-list">
						<thead>
							<tr>
								<th><span>Site</span></th>
								<th><span>Categoria -> SubCategoria</span></th>
								<th><span>Descrição do conteúdo</span></th>
								<th><span>Tags</span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% for dt in page_obj %}
								<tr>
									<td>
										<a href="{{dt.url}}" class="user-link" target="_blank" title="Abrir endereço">{{ dt.name }}</a>
										{% comment %} <span class="user-subhead" style="margin-left: 10px">{{ dt.subcategory }}</span> {% endcomment %}
									</td>
									<td>
										{{ dt.subcategory }}
									</td>
									<td class="text-center">
										<span class="label label-default">{{ dt.description }}</span>
									</td>
									<td>
										<span href="#">{{ dt.tags }}</span>
									</td>
									<td style="width: 14%;">

										<div style="float: left">
											<a href="{{dt.url}}" class="table-link" target="_blank" title="Abrir endereço">
												<span class="fa-stack">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-search-plus fa-stack-1x fa-inverse" ></i>
												</span>
											</a>
										</div>

										<div style="float: left">
											<a href="/list_url/del/{{ dt.id }}/" class="table-link" title="Editar registro">
												<span class="fa-stack">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</div>

										<div style="float: left">
											<a href="/list_url/del/{{ dt.id }}/" class="table-link danger" title="Apagar registro">
												<span class="fa-stack">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				{% comment %} Paginator {% endcomment %}
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						{% if page_obj.has_previous %}
							<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
						{% endif %}
							{% for page_number in page_obj.paginator.page_range %}
								<li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li> 
							{% endfor %}
							{% if page_obj.has_next %}
							<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a></li>
						{% endif %}
					</ul>
				</nav>
					


				{% comment %} <div class="pagination">
					<span class="step-links">
						{% if page_obj.has_previous %}
							<a href="?page={{ page_obj.previous_page_number }}">anterior</a>
						{% endif %}
				
						<span class="current">
							Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
						</span>
				
						{% if page_obj.has_next %}
							<a href="?page={{ page_obj.next_page_number }}">próxima</a>
						{% endif %}
					</span>
				</div> {% endcomment %}


			</div>
		</div>
	</div>
</div>